<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the Shopping Cart bean -->
    <bean id="shoppingCart" class="com.example.shop.pojo.ShoppingCart" scope="prototype">
        <property name="items">
            <list>
                <!-- Empty list to hold items -->
            </list>
        </property>
    </bean>

    <!-- Define the Cashier bean -->
    <bean id="cashier" class="com.example.shop.pojo.Cashier" init-method="openFile" destroy-method="closeFile">
        <property name="fileName" value="checkout.txt"/>
        <property name="path" value="/path/to/checkout/files"/>
    </bean>

</beans>
