<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a bean for Battery -->
    <bean id="battery" class="com.example.shop.pojo.Battery">
        <property name="productId" value="1"/>
        <property name="productName" value="Battery"/>
        <property name="price" value="10.0"/>
        <property name="rechargeable" value="true"/>
    </bean>

    <!-- Define a bean for Disc -->
    <bean id="disc" class="com.example.shop.pojo.Disc">
        <property name="productId" value="2"/>
        <property name="productName" value="Disc"/>
        <property name="price" value="5.0"/>
        <property name="capacity" value="1024"/>
    </bean>

</beans>
